* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

#root {
  height: 100vh;
}

html {
  @media (max-width: 1280px) {
    font-size: 93.75%; // 15px
  }
  @media (max-width: 720px) {
    font-size: 87.5%; // 14px
  }
}

body {
  background: #f2f2f2;
}

body,
input,
textarea,
button {
  font-family: "Poppins", sans-serif;
  color: #1a1a1a;
}

button {
  cursor: pointer;
}
